.About-logo {
    height: 4em;
    float: left;
}

.navmain {
    padding: 5% 20% 2% 20%;
    
}

.active{
    font-weight: bold;
    border-radius: 10px;
}

.taskbar {
    padding-left: 10%;
    padding-right: 5%
}

.buttons {
    float: right
}

.form-fix {
    display: inline-block;
}

.abtlandingSec {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/landimgabout0.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
}

.landImg {
    text-align: center;
    height: 30em;
    width: 95%;
    object-fit: cover;
   
}

.abtlandingsecmid {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 100%;
    padding-bottom: 10%;


}
.missvis{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('./media/image 5.png');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7%;
}
.missflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    
}
.mission{
    width: 100%;
    height: 50%;
}

.missionwrt{
    float: left;
    width: 50%;
    padding-right: 15px;
}

.misimge{
    float: right;
    width: 50%;
}
.missimg{
    height: 30em;
    width: 100%;
}

.vision{
    width: 100%;
    height: 50%;
    margin-top: 40px;
}
.visionsection{
    display: flex;
    padding-top: 30px;
}
.visionwrt{
    float: left;
    width: 50%;
    padding-right: 30px;
   
}
.vimge{
   
    float: right;
    width: 50%;
}
.visimg{
    height: 30em;
    width: 100%;
}
.journ{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70em;
    background-image: url('./media/journimg.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7%;
}
.journflex{
    padding: 40px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}
.jourimge{
    width: 100%;
    
}
.journimg{
    width: 65em;
    height: 30em;
}
.journey2{
    padding-top: 20px;
}
.team{
    justify-content: center;
    align-items: center;
    height:auto;
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7%;

}
.teamflex{
    padding-left: 50px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.teamco{
    margin-top: 5%;
    float:left;
    width: 50%;
}
.name{
    font-weight: bold;
}
.coachimg{
    float: right;
    width: 40%;
    height: 255px;
}
.contact{
    height: auto;
    background-color: #D9D9D9;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contacts{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
}
.contacts div{
    align-items: center;
    margin: 20px;
    width: 100%;
}

.icons{
    align-items: center;
    justify-content: center;
}
.icons a{
    font-weight:500;
    padding: 12px;
    display: block;
}
.icons img{
    width: 20%;
    height: 25%;
    
}
.copyright{
    color: rgba(255, 255, 255, 1);
    display: flex;
    height: 25%;
    align-content: center;
    justify-content: center;
    background-color: #3D3D3D;
}
.copyright h2{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

 @media  (max-width:800px) { /*TABLET VIEW */
    .missflex{
        padding: 20px;
        height: 100%;
    }
    .mission{
        height: 50%;
    }
    
    .missionwrt{
        padding-right: 10px;
    }
    
    .missimg{
        width: 100%;
        height: 25em;
    }
    .vision{
        margin-top: 20px;
    }
    .visionwrt{
        padding-right: 10px;  
    }
    .visimg{
        width: 100%;
        height: 25em;
    }

    .journ{
        height: 60em;
    }

    .journflex{
        height: 100%;
    }

    .journimg{
        width: 35em;
        height: 250px;
    }
    .cont{
        display: none;
    }
    .icons img{
        width: 25;
        height: 70%;
        
    }
}

@media (max-width:600px) { /*PHONE VIEW */
    .missflex{
        padding: 0px 0px 0px;
        height: 100%;        
    }
    .mission{
        width: 150%;
    }
    .missionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .missionwrt{
        padding: 10px 20px 10px;
       width: 100%;
    }
    .missparag{
        display: none;
    }
    .missimg{
        width: 200%;
        height: 20em;
    }
    .vision{
        margin-top: 10px;
    }
    .visionsection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .visionwrt{
        padding: 10px 20px 10px;
        width: 100%;
    }
    .visimg{
        padding-bottom: 20px;
        width: 200%;
        height: 20em;
    }
    .journ{
        height: 50em;
    }
    .journflex{
        height: 100%;
        padding: 0;
    }
    .journey h1{
        padding: 30px 30px 0px;
    }
    .journeyparag{
        display: none;
    }
    .jourimge{
        height: 20em;
    }
    .journimg{
        width: 100%;
        height: 300px;
    }
    .journey2{
        padding: 0px 20px 5px;
    }
    .teamflex{
        padding-left: 10px;
    }
    .teamco{
        height: 15em;
        padding-bottom: 0;
    }
    .coachimge{
        width: 100%;
        height: 50%;
    }
    .coach img{
        width: 50%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .contacts{
        display: grid;
        
    }
    .contactf{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .brs{
        display: none;
    }
    
    .quick{
        float: left;
    }

    .icons{
        grid-column: 1 / span 3;
        grid-row: 3;
    }
    .icons a{
        padding: 5px;
        display: inline;
    }
}