.About-logo {
    height: 4em;
    float: left;
}

.navmain {
    padding: 5% 20% 2% 20%;
    
}

.active{
    /* font-weight: bold; */
    border-radius: 2px;
    background-color: lightgray;
    padding: 0 5px 0 5px;
    opacity: 0.8;
}

.activebd{
    font-weight: bold;
}

.taskbar {
    padding-left: 10%;
    padding-right: 5%
}

.buttons {
    float: right
}

.form-fix {
    display: inline-block;
}

.abtlandingSec {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/landimgabout0.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 100%;
}

.landImg {
    text-align: center;
    height: 30em;
    width: 95%;
    object-fit: cover;
   
}

.abtlandingsecmid {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 100%;
    padding-bottom: 10%;
}
.text {
    padding-left: 0%;
    font-size: 1.8em;
    font-weight: bold;
}

.tex{
    color: #474646;
}

.tex1{
    color: rgb(109, 103, 103)
}

.Parag{
    text-align: justify;
    font-size: 1rem
}
.missvis{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('./media/image 5.png');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7%;
}
.missflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: white;
    
}
.missionsection{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.missionwrt{
    width: 50%;
    padding: 3%;
}

.misimge{
    width: 50%;
    padding: 3%;
}
.missimg{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.vision{
    width: 100%;
    height: 50%;
    margin-top: 40px;
}

.visionsection{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.visionwrt{
    width: 50%;
    padding: 3%;
}

.vimge{
    width: 50%;
    padding: 3%;
}

.visimg{
    height: 500px;
    width: 100%;
    object-fit:cover;
}
.journ{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-image: url('./media/journimg.jpeg');
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7%;
}
.journflex{
    padding: 60px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
}

.journsection{
    width: 100%;
}

.jourimge{
    width: 100%;
    padding: 1%;
    
}

.journimg{
    width: 100%;
    height: 600px;
    object-fit:cover;
}

.team{
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7%;

}

.teamflex{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.teamsection{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.teamwrt{
    width: 50%;
    padding: 3%;
}

.name{
    font-weight: bold;
}

.teaimge{
    width: 50%;
    padding: 3%;
}

.teaimg{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.contact{
    height: auto;
    background-color: #D9D9D9;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacts{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2% 5% 0 5%;
    text-align: justify;
}

.contactUs{
    position: absolute;
}

.divs{
    align-items: center;
    margin: 20px;
    width: 100%;
}

.contactflex{
    text-align: center;
}

.icons{
    text-align: center;
}
.icons a{
    font-weight:500;
    padding: 12px;
    display: block;
}
.icons img{
    width: 20%;
    height: 25%;
    
}
.copyright{
    color: rgba(255, 255, 255, 1);
    display: flex;
    height: 25%;
    align-content: center;
    justify-content: center;
    background-color: #3D3D3D;
}
.copyright h2{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

 @media  (max-width:800px) { /*TABLET VIEW */
    .missflex{
        padding: 20px;
        height: 100%;
    }

    .missionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .missionwrt{
        width: 100%;
        padding: 3%;
    }

    .misimge{
        width: 100%;
        padding: 3%;
    }

    .missimg{
        height: 100%;
        width: 100%;
        object-fit:cover;
    }

    .visionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .visionwrt{
        width: 100%;
        padding: 3%;  
    }

    .vimge{
        width: 100%;
        padding: 3%;
    }

    .visimg{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .journsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .jwrt{
        width: 100%;
        padding: 3%;
    }

    .jourimge{
        width: 100%;
        padding: 3%;
    }

    .journimg{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .teamflex{
        width: 100%;
       justify-content: center;
    }

    .teamsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .teamwrt{
        width: 100%;
        padding: 3%;
    }

    .teaimge{
        text-align: center;
        width: 100%;
        padding: 3%;
    }

    .teaimg{
        height: 50%;
        width: 80%;
        object-fit: cover;
    }

    .cont{
        display: none;
    }

    .icons img{
        height: 55%;
        
    }
}

@media (max-width:600px) { /*PHONE VIEW */
    .missflex{
        padding: 0px 0px 0px;
        height: 100%;        
    }

    .mission{
        width: 150%;
    }

    .missparag{
        display: none;
    }

    .missimg{
        width: 100%;
        height: 20em;
    }

    .missionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .missionwrt{
        width: 100%;
        padding: 3%;
    }

    .misimge{
        width: 100%;
        height: 100%;
    }

    .vision{
        width: 100%;
    }

    .visionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .visionwrt{
        width: 100%;
        padding: 3%;
    }

    .vimge{
        width: 100%;
        height: 100%;
    }

    .visimg{
        width: 100%;
        height: 20em;
    }

    .journflex{
        height: 100%;
        padding: 0;
    }

    .journey h1{
        padding: 30px 30px 0px;
    }

    .journeyparag{
        display: none;
    }

    .jourimge{
        height: 20em;
    }

    .journimg{
        width: 100%;
        height: 300px;
    }

    .journey{
        width: 100%;
        padding: 3%;
    }

    .team{
        width: 100%;
    }

    .teamflex{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .teamsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .teamwrt{
        width: 100%;
        padding: 3%;
    }

    .teaimge{
        width: 100%;
        height: 0%;
    }

    .teaimg{
        width: 100%;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .contacts{
        display: grid;
        
    }

    .contactf{
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .brs{
        display: none;
    }
    
    .quick{
        float: left;
    }

    .icons{
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .icons a{
        padding: 5px;
        display: inline;
    }

    .contactflex{
        text-align: left;
    }
}