.Home-logo {
    height: 4em;
    float: left;
}

.navmain {
    padding: 5% 20% 2% 20%;
    
}

.active{
    /* font-weight: bold; */
    border-radius: 2px;
    background-color: lightgray;
    padding: 0 5px 0 5px;
    opacity: 0.8;
}

.activebd{
    font-weight: bold;
}


.taskbar {
    padding-left: 10%;
    padding-right: 5%
}

.buttons {
    float: right
}

.form-fix {
    display: inline-block;
}

.landingsec {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/landimg.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200%;
    width: 100%;
}

.landhomeimg {
    background-image: url('./media/landimg.jpeg');
    background-size: cover;
    text-align: center;
    height: 93%;
    width: 100%;
    transition: background-image 2s
}


/* .landimg:hover {
    background-image: url('./media/landimgalt.jpeg');

} */

.landingsecmid {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    height: 70em;


}

.headertext {
    position: absolute;
    top: 8%;
    left: 50%;
    font-size: 250%;
    font-weight: bold;
    color: #3D3D3D;
    transform: translateX(-50%);
    border-bottom: 11px solid #F1D108;
    background-color: lightgray;
    opacity: 0.8;
}

.expsec {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/exp.jpg');
    background-blend-mode: luminosity;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    padding: 0% 20% 0% 20%;
    height: 45em;
    width: 100%;
}

.expheader {
    /* align-content: center; */
    /* justify-content: right; */
    /* display: flexbox; */
    width: 100%;
    padding-top: 4%;
    padding-bottom: 3%;
}

.exptext {
    padding-left: 0%;
    font-size: 1.8em;
    font-weight: bold;
}

.txt1 {
    color: #474646;
}

.txt2 {
    color: rgb(109, 103, 103)
}

.expflex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.vids {   
    border-radius: 2em; 
	overflow:hidden;
    width: 100em;
    height: 25em
}

iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.expdiv {
    /* width: 50% */
}

.expcard {
    margin: 2% 20% 0 0%;    
    height: 12em;
    text-align: center;
    background-color: white
}

.strip {
    background-color: yellow;
    margin: 2% 20% 0 0%;    
    height: 1.2em;
    text-align: center;
}

#expparag {
    padding: 1em;
    text-align: justify;
    font-size: 1rem
}

.landingsecmid button {
    position: absolute;
    width: 7.5em;
    left: 50%;
    transform: translateX(-50%);

}

.landingsecmid #btn1 {
    bottom: 25%;
    font-size: 110%;
    
}

.landingsecmid #btn2 {
    bottom: 15%;
    font-size: 110%;


}

/* ----program */
.progmain {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/progbg.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0% 17% 0% 17%;
    
}

.progsubsec {

    height: 100%;
    width: 100%;
    background-color: white;

}

.progone {
    padding: 0 6% 6% 6%;
    display: flex;
    flex-direction: row
}

#progonemiddle {
    flex-direction: row-reverse
}

.progdiv {
    padding: 0 0% 0% 3%;
}

#progdivmiddle {
    padding: 0 3% 0% 0%;
}

.progimg {
    height: 21em;
    width: 50%;
}

.progtext {
    
    padding-left: 5%;
    font-size: 1.8em;
    font-weight: bold;
}
.pstrip {
    background-color: yellow;
    margin: 0% 20% 0 0%;    
    height: 1.2em;
    width: 100%;
    text-align: center;

}

.ptag {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
    font-size: 1rem;
    
}

/* ----joinacad */

.acadmain {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/acadmainpic.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 5% 17% 5% 17%
}

.acadsub {
    background-image: url('./media/acadmainpic.jpeg');
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.acadminsub {
    background-color: #fff;
    padding: 5% 7% 5% 7%;
    opacity: .7;
}

#jointxt {
    padding-left: 5%;
    font-size: 1rem;
    margin-top: 2%;
}

#joinbutton{
    margin-left: 5%;
    margin-top: 7%;
}


/* Sponsor */

.spons {
    padding: 5% 17% 5% 17%;
}

.sponone {
    padding: 0 6% 6% 6%;
    display: flex;
    flex-direction: row
}

.spontag {
    text-align: justify;
}

.sponimg {
    height: 21em;
    width: 40%;
    padding: 0 6% 0% 0%;
}

.spondiv {
    padding: 0 0% 0% 6%;
    position: relative;
    
}

#sponbutton{
    position: absolute;
    transform: translateY(-100%);
    top: 100%;
    right: 0;
}

.stag {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
    font-size: 1rem;
}

.spontext {
    
    padding-left: 6%;
    padding-bottom: 2%;
    font-size: 1.8em;
    font-weight: bold;
}

/* ----testimonials */

.testmain {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('./media/testm.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 5% 17% 5% 17%
}

.testsub {
    background-color: #D9D9D9;
    padding: 5% 7% 5% 7%;
    /* opacity: .7; */
}

.testone {
    padding: 3% 6% 6% 6%;
    display: flex;
    flex-direction: row
}

.testimg {
    height: 140px;
    width: 140px;
    padding: 10%;
    
}

#testpg {
    text-align: justify;
}

.testsec {
    text-align: center;
}

/* ---- Contact ---- */

.contact{
    height: auto;
    background-color: #D9D9D9;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contacts{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2% 5% 0 5%;
}
.contacts div{
    align-items: center;
    margin: 20px;
    width: 80%;
}

.icons{
    align-items: center;
    justify-content: center;
}
.icons a{
    font-weight:500;
    padding: 12px;
    display: block;
}
.icons img{
    width: 20%;
    height: 25%;
    
}
.copyright{
    color: rgba(255, 255, 255, 1);
    display: flex;
    height: 25%;
    align-content: center;
    justify-content: center;
    background-color: #3D3D3D;
}
.copyright h2{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

@media (max-width: 1100px) {
    .Home-logo {
        height: 4em;
        float: left;
    }
    
    .navmain {
        padding: 5% 20% 5% 20%;
        
    }

    .search {
        padding: 2% 0 2% 0
    }

    .landingsec {
        height: 50em;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        background-image: url('./media/landimg.jpeg');
        background-blend-mode: luminosity;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* .landimg {
        text-align: center;
        height: 35em;
        width: 100%;
        object-fit: cover;
        padding-top: 3%;
        padding-bottom: 4%;
    } */

    .landimg {
        background-image: url('./media/landimg.jpeg');
        background-size: cover;
        text-align: center;
        object-fit: cover;
        height: 93%;
        width: 100%;
        transition: background-image 2s, transform 2s;
    }
    
    .landimg:hover {
        background-image: url('./media/progimg.jpeg');
        background-size: cover;
    
    }

    .landingsecmid {
        position: relative;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        height: 35em;

    }

    .headertext {
        position: absolute;
        top: 8%;
        left: 50%;
        font-size: 180%;
        font-weight: bold;
        color: #3D3D3D;
        transform: translateX(-50%);
        border-bottom: 11px solid #F1D108;
        background-color: lightgray;
        opacity: 0.8;
    }

    .expsec {
        background-color: rgba(255, 255, 255, 1);
        background-image: url('./media/exp.jpg');
        background-repeat: repeat;
        background-blend-mode: luminosity;
        background-position: center;
        background-size: contain;
        padding: 0% 1% 0% 1%;
        height: 100%;
        width: 100%;
        /* text-align: center; */
    }

    .expheader {
        /* align-content: center; */
        /* justify-content: right; */
        /* display: flexbox; */
        width: 100%;
        padding-top: 4%;
        padding-bottom: 3%;
    }

    .exptext {
        
        padding-left: 12%;
        font-size: 1.5em;
        font-weight: bold;
    }

    .txt1 {
        color: #474646;
    }

    .txt2 {
        color: rgb(109, 103, 103)
    }

    .expflex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2% 5% 0 5%;
    }

    iframe {
        width: 100%;
        height: 100%;
        border:0
    }

    .vids {
        
        border-radius: 1.5em; 
        overflow:hidden;
        width: 100%;
        height: 23em
    
    }

    .expcard {
        margin: 2% 10% 5% 10%;
        padding: 2% 2% 2% 2%;
        justify-content: left;
        height: 100%;
        text-align: center;
        background-color: white
    }

    .strip {
        background-color: yellow;
        margin: 2% 10% 0 10%;    
        height: 1.2em;
        width: 100%;
        text-align: center;
    }

    #expparag {
        text-align: justify;
        font-size: 1rem
    }

    .progone {
        padding: 0 6% 6% 6%;
        display: flex;
        flex-direction: column
    }

    .progimg {
        height: 100%;
        width: 100%;
    }

    #progonemiddle {
        flex-direction: column;
    }

    .progmain {
        background-color: rgba(255, 255, 255, 1);
        background-image: url('./media/progbg.jpeg');
        background-blend-mode: luminosity;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        padding: 0% 5% 0% 5%;
        
    }
    
    .progsubsec {
    
        height: 100%;
        width: 100%;
        background-color: white;
        
    }

    .acadmain {
        background-color: rgba(255, 255, 255, 1);
        background-image: url('./media/acadmainpic.jpeg');
        background-blend-mode: luminosity;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        padding: 5% 6% 5% 6%
    }


    /* Sponsor */

    .spons {
        padding: 5% 5% 5% 5%;
    }

    .sponone {
        padding: 0 6% 6% 6%;
        display: flex;
        flex-direction: column
    }

    .spontag {
        text-align: justify;
        padding-bottom: 3%;
    }

    .sponimg {
        height: 50%;
        width: 50%;
        text-align: center;
        padding: 0 6% 3% 0%;
    }

    .spondiv {
        padding: 0 0% 0% 0%;
        position: relative;
        
    }

    #sponbutton{
        position: absolute;
        transform: translateY(-20%);
        top: 100%;
        right: 0;
    }

    .testmain {

        padding: 5% 5% 5% 5%
    }
    

    
}

@media (min-width: 1300px) {
    iframe {
        width: 100%;
        height: 100%
    }

    .vids {
        border-radius: 2em; 
        overflow:hidden;
        width: 95em;
        height: 25em
    
    }
}


 