.About-logo {
    height: 4em;
    float: left;
}

.navmain {
    padding: 5% 20% 2% 20%;
    
}

.active{
    /* font-weight: bold; */
    border-radius: 2px;
    background-color: lightgray;
    padding: 0 5px 0 5px;
    opacity: 0.8;
}

.activebd{
    font-weight: bold;
}

.taskbar {
    padding-left: 10%;
    padding-right: 5%
}

.buttons {
    float: right
}

.form-fix {
    display: inline-block;
}

.text {
    padding-left: 0%;
    font-size: 1.8em;
    font-weight: bold;
}

.tex{
    color: #474646;
}

.tex1{
    color: rgb(109, 103, 103)
}

.Parag{
    text-align: justify;
    font-size: 1rem
}

.textPG{
    background-color: #8d8888;
    color: black;
    padding-left: 3%;
    font-weight: bold;
    font-size: 1em;
    height: 15%;
}

.tealandingSec {
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/public/landimgabout0.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.teamlandingmid{
    padding-bottom: 5%;
    padding-left: 5%;
}

.teamlanding{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    height: 22em;
    width: 95%;
}

.teawrt {
    text-align: left;
}

.tealandingsecmid{
    display: flex;
    flex-wrap: wrap;
}

.tealandingsecmid span{
    width: calc(16.66% - 10px);
    margin: 5px;
}

.tealandingsecmid span img{
    width: 100%;
    height: 120%;
}

.tealandingsecmid span p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #585656;
    height: 25%;
    font-weight: bold;
}

.pointgua{
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    height: 50%;
    width: 100%;
}

.pointguarsec{
    display: flex;
    flex-direction: column;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    overflow: hidden;
    height: 800px;
    width: 95%;
}

.pointguasecmid{
    display: flex;
    flex-wrap: wrap;
}

.pointguasecmid span{
    width: calc(25% - 10px);
    margin: 5px;
}

.pointguasecmid span img{
    width: 100%;
    height: 100%;
}

.shootgua{
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/public/acadmainpic.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    height: 50%;
    width: 100%;
}

.shootguarsec{
    display: flex;
    flex-direction: column;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    overflow: hidden;
    height: 800px;
    width: 95%;
}

.shootguasecmid{
    display: flex;
    flex-wrap: wrap;
}

.shootguasecmid span{
    width: calc(25% - 10px);
    margin: 5px;
}

.shootguasecmid span img{
    width: 100%;
    height: 100%;
}

.smallforward{
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    height: 50%;
    width: 100%;
}

.smallforwasec{
    display: flex;
    flex-direction: column;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    overflow: hidden;
    height: 800px;
    width: 95%;
}

.smallforwasecmid{
    display: flex;
    flex-wrap: wrap;
}

.smallforwasecmid span{
    width: calc(25% - 10px);
    margin: 5px;
}

.smallforwasecmid span img{
    width: 100%;
    height: 100%;
}

.powerfor{
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/public/progbg.jpeg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    height: 50%;
    width: 100%;
}

.powerforwasec{
    display: flex;
    flex-direction: column;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    overflow: hidden;
    height: 800px;
    width: 95%;
}

.powerforwarsecmid{
    display: flex;
    flex-wrap: wrap;
}

.powerforwarsecmid span{
    width: calc(25% - 10px);
    margin: 5px;
}

.powerforwarsecmid span img{
    width: 100%;
    height: 100%;
}

.center{
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    height: 50%;
    width: 100%;
}

.centersec{
    display: flex;
    flex-direction: column;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    overflow: hidden;
    height: 800px;
    width: 95%;
}

.centersecmid{
    display: flex;
    flex-wrap: wrap;
}

.centersecmid span{
    width: calc(25% - 10px);
    margin: 5px;
}

.centersecmid span img{
    width: 100%;
    height: 100%;
}

.coach{
    background-color: rgba(255, 255, 255, 1);
    background-image: url('/public/image 010.jpg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    height: 50%;
    width: 100%;
}

.coachsec{
    display: flex;
    flex-direction: column;
    background-color:#f8eeee;
    background-position: center;
    padding: 2%;
    overflow: hidden;
    height: 500px;
    width: 95%;
}

.coachsecmid{
    display: flex;
    flex-wrap: wrap;
}

.coachsecmid span{
    width: calc(25% - 10px);
    margin: 5px;
}

.coachsecmid span img{
    width: 100%;
    height: 100%;
}

.contact{
    height: auto;
    background-color: #D9D9D9;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacts{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2% 5% 0 5%;
    text-align: justify;
}

.contactUs{
    position: absolute;
}

.divs{
    align-items: center;
    margin: 20px;
    width: 100%;
}

.contactflex{
    text-align: center;
}

.icons{
    text-align: center;
}
.icons a{
    font-weight:500;
    padding: 12px;
    display: block;
}
.icons img{
    width: 20%;
    height: 25%;
    
}
.copyright{
    color: rgba(255, 255, 255, 1);
    display: flex;
    height: 25%;
    align-content: center;
    justify-content: center;
    background-color: #3D3D3D;
}
.copyright h2{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

 @media  (max-width:800px) { /*TABLET VIEW */
    .missflex{
        padding: 20px;
        height: 100%;
    }

    .missionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .missionwrt{
        width: 100%;
        padding: 3%;
    }

    .misimge{
        width: 100%;
        padding: 3%;
    }

    .missimg{
        height: 100%;
        width: 100%;
        object-fit:cover;
    }

    .visionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .visionwrt{
        width: 100%;
        padding: 3%;  
    }

    .vimge{
        width: 100%;
        padding: 3%;
    }

    .visimg{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .journsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .jwrt{
        width: 100%;
        padding: 3%;
    }

    .jourimge{
        width: 100%;
        padding: 3%;
    }

    .journimg{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .teamflex{
        width: 100%;
       justify-content: center;
    }

    .teamsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .teamwrt{
        width: 100%;
        padding: 3%;
    }

    .teaimge{
        text-align: center;
        width: 100%;
        padding: 3%;
    }

    .teaimg{
        height: 50%;
        width: 80%;
        object-fit: cover;
    }

    .cont{
        display: none;
    }

    .icons img{
        height: 55%;
        
    }
}

@media (max-width:600px) { /*PHONE VIEW */
    
    .missflex{
        padding: 0px 0px 0px;
        height: 100%;        
    }

    .mission{
        width: 150%;
    }

    .missparag{
        display: none;
    }

    .missimg{
        width: 100%;
        height: 20em;
    }

    .missionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .missionwrt{
        width: 100%;
        padding: 3%;
    }

    .misimge{
        width: 100%;
        height: 0%;
    }

    .vision{
        width: 100%;
    }

    .visionsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .visionwrt{
        width: 100%;
        padding: 3%;
    }

    .vimge{
        width: 100%;
        height: 0%;
    }

    .visimg{
        width: 100%;
        height: 20em;
    }

    .journflex{
        height: 100%;
        padding: 0;
    }

    .journey h1{
        padding: 30px 30px 0px;
    }

    .journeyparag{
        display: none;
    }

    .jourimge{
        height: 20em;
    }

    .journimg{
        width: 100%;
        height: 300px;
    }

    .journey{
        width: 100%;
        padding: 3%;
    }

    .team{
        width: 100%;
    }

    .teamflex{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .teamsection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .teamwrt{
        width: 100%;
        padding: 3%;
    }

    .teaimge{
        width: 100%;
        height: 0%;
    }

    .teaimg{
        width: 100%;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .contacts{
        display: grid;
        
    }

    .contactf{
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .brs{
        display: none;
    }
    
    .quick{
        float: left;
    }

    .icons{
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    .icons a{
        padding: 5px;
        display: inline;
    }

    .contactflex{
        text-align: left;
    }
}